<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modelos</title>

    <link type="text/css" rel="stylesheet" href="/css/style.css">
    <link type="text/css" rel="stylesheet" href="/css/style3.css">
    <script src="https://kit.fontawesome.com/8bf5dfb69c.js"></script>  
</head>

<header class="header2">
    <div class="wrapper">
        <div class="logo"><i class="fa-solid fa-couch"></i> SitDown</div>
        
        <nav>
            <a href="/">Inicio</a>
            <a href="#">Modelos</a>
            <a href="#">Quienes somos?</a>
            <a href="#">Contactos</a>
        </nav>
    </div>
</header>


<body>
  
    <h1>Modelos</h1>


    <div class="container">
        <div class="card">
         <img src="/images/sillon_turin.png">
         <h4 class="title">Sillon turin</h4>
         <a href="../modelo/sillon_turin">Ver mas</a>
        </div>

        <div class="card">
            <img src="/images/sillon_genova.png">
            <h4 class="title">Sillon genova</h4>
            <a href="../modelos/sillon_genova">Ver mas</a>
        </div>

        <div class="card">
            <img src="/images/sillon_chesterfield.png">
            <h4 class="title">Sillon chesterfield</h4>
            <a href="/products/modelos/sillon_chesterfield">Ver mas</a>
        </div>

        <div class="card">
            <img src="/images/silla_gala.jpg">
            <h4 class="title">Silla gala</h4>
            <a href="#">Ver mas</a>
        </div>
   
        <div class="card">
            <img src="/images/sillas_alma.png">
            <h4 class="title">Silla alma</h4>
            <a href="#">Ver mas</a>
        </div>
   
        <div class="card">
            <img src="/images/sillas_nuvola.png">
            <h4 class="title">Silla nuvola</h4>
            <a href="#">Ver mas</a>
        </div>

        <div class="card">
            <img src="/images/taburete_lima.png" class="image">
            <h4 class="title">Taburete Lima</h4>
            <a href="#" class="links">Ver mas</a>
        </div>
   
        <div class="card">
            <img src="/images/taburete_tilo.png" class="image">
            <h4 class="title">Taburete Tilo</h4>
            <a href="#" class="links">Ver mas</a>
        </div>
   
        <div class="card">
            <img src="/images/taburete_koa.png" class="image">
            <h4 class="title">Taburete Koa</h4>
            <a href="#" class="links">Ver mas</a>
        </div>

        <div class="card">
            <img src="/images/respaldo_capitone.png">
            <h4 class="title">Respaldo capitone</h4>
            <a href="#">Ver mas</a>
        </div>
   
        <div class="card">
            <img src="/images/respaldo_cuadros.png">
            <h4 class="title">Respado cuadros</h4>
            <a href="#">Ver mas</a>
        </div>
   
        <div class="card">
            <img src="/images/respaldo_botone.png">
            <h4 class="title">Respaldo botone</h4>
            <a href="#">Ver mas</a>
        </div>

    </div>

</body>
</html>