<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Respaldos</title>

    <link type="text/css" rel="stylesheet" href="../css/style1.css">    
    <script src="https://kit.fontawesome.com/8bf5dfb69c.js"></script>

</head>

<body>

  <!-- Navigation bar -->
  <header class="header">
    <!-- Logo -->
    <div class="logo"><i class="fa-solid fa-couch"></i> SitDown</div>
    <!-- Hamburger icon -->
    <input class="side-menu" type="checkbox" id="side-menu"/>
    <label class="hamb" for="side-menu"><span class="hamb-line"></span></label>
    <!-- Menu -->
    <nav class="nav">
        <ul class="menu">
            <li><a href="../index.html">Inicio</a></li>
            <li><a href="#container">Modelos</a> </li>
            <li><a href="#container1">Acerca</a></li>
            <li><a href="#footer">Contactos</a></li>
        </ul>
    </nav>
  </header> 

    <h1>Respaldos</h1>

    <div class="container">
        <div class="card">
         <img src="../images/respaldo_capitone.png">
         <h4 class="title">Respaldo capitone</h4>
         <a href="../views/respaldo_capitone.html" class="link">Ver mas</a>
        </div>

        <div class="card">
            <img src="../images/respaldo_cuadros.png">
            <h4 class="title">Respado cuadros</h4>
            <a href="../views/respaldo_cuadros.html" class="link">Ver mas</a>
        </div>

        <div class="card">
            <img src="../images/respaldo_botone.png">
            <h4 class="title">Respaldo botone</h4>
            <a href="../views/respaldo_botone.html" class="link">Ver mas</a>
        </div>

    </div>

</body>
</html>