<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Respaldo capitone</title>

    <link type="text/css" rel="stylesheet" href="../css/style.css">    
    <link type="text/css" rel="stylesheet" href="../css/style2.css">
    <script src="https://kit.fontawesome.com/8bf5dfb69c.js"></script>

<body>
  <!-- Navigation bar -->
 <header class="header">
    <!-- Logo -->
   <div class="logo"><i class="fa-solid fa-couch"></i> SitDown</div>
    <!-- Hamburger icon -->
   <input class="side-menu" type="checkbox" id="side-menu"/>
   <label class="hamb" for="side-menu"><span class="hamb-line"></span></label>
    <!-- Menu -->
   <nav class="nav">
      <ul class="menu">
        <li><a href="../index.html">Inicio</a></li>
        <li><a href="#container">Modelos</a> </li>
        <li><a href="#container1">Acerca</a></li>
        <li><a href="#footer">Contactos</a></li>
      </ul>
   </nav>
 </header>

  <div class="container">
    <h1 class="titulo11">Respaldo cuadros</h1>
    <h2 class="description11">Caracteristicas: </h2>
    <table class="table1">
      <tr class="tr1">
        <td class="td1">Producto: </td>
        <td class="td1">Madera</td>
      </tr>
      <tr class="tr1">
        <td class="td1">Color: </td>
        <td class="td1">Blanco</td>
      </tr>
    </table>  
    <h2 class="contado1">Precio de contado</h2>
    <h2 class="precio1">$24.199</h2>
    <a href="#" class="link1">Ver el pago en coutas</a>
    <a class="boton1" href="#">Comprar</a>  
    <img src="../images/respaldo_cuadros2.png" class="img8">
  </div>    

</body>
</html>