<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sillones</title>
    
    <link rel="stylesheet" href="../css/style1.css">
    <script src="https://kit.fontawesome.com/8bf5dfb69c.js"></script>
</head>

<body>

  <!-- Navigation bar -->
  <header class="header">
    <!-- Logo -->
    <div class="logo"><i class="fa-solid fa-couch"></i> SitDown</div>
    <!-- Hamburger icon -->
    <input class="side-menu" type="checkbox" id="side-menu"/>
    <label class="hamb" for="side-menu"><span class="hamb-line"></span></label>
    <!-- Menu -->
    <nav class="nav">
        <ul class="menu">
            <li><a href="../index.html">Inicio</a></li>
            <li><a href="#container">Modelos</a> </li>
            <li><a href="#container1">Acerca</a></li>
            <li><a href="#footer">Contactos</a></li>
        </ul>
    </nav>
  </header>

 <h1>Sillones</h1>

    
    <div class="container">
        <div class="card">
         <img src="../images/sillon_turin.png" class="image1">
         <h4 class="title">Sillon turin</h4>
         <a href="../views/sillon_turin.html" class="links">Ver mas</a>
        </div>

        <div class="card">
            <img src="../images/sillon_genova.png" class="image1">
            <h4 class="title">Sillon genova</h4>
            <a href="../views/sillon_genova.html" class="links">Ver mas</a>
        </div>

        <div class="card">
            <img src="../images/sillon_chesterfield.png" class="image1">
            <h4 class="title">Sillon chesterfield</h4>
            <a href="../views/sillon_chesterfield.html" class="links">Ver mas</a>
        </div>

    </div>
</body>
</html>