<!DOCTYPE html>
<html lang="en">
 <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sillon turin</title>

    <link type="text/css" rel="stylesheet" href="../css/style.css">
    <link type="text/css" rel="stylesheet" href="../css/style2.css">
    <script src="https://kit.fontawesome.com/8bf5dfb69c.js"></script>
 </head>

 <body>

  <!-- Navigation bar -->
  <header class="header">
    <!-- Logo -->
    <div class="logo"><i class="fa-solid fa-couch"></i> SitDown</div>
    <!-- Hamburger icon -->
    <input class="side-menu" type="checkbox" id="side-menu"/>
    <label class="hamb" for="side-menu"><span class="hamb-line"></span></label>
    <!-- Menu -->
    <nav class="nav">
        <ul class="menu">
            <li><a href="../index.html">Inicio</a></li>
            <li><a href="#container">Modelos</a> </li>
            <li><a href="#container1">Acerca</a></li>
            <li><a href="#footer">Contactos</a></li>
        </ul>
    </nav>
  </header>


  <div class="container">
    <h1 class="titulo1">Sillon Turin</h1>
    <h2 class="description1">Caracteristicas:</h2>
    <table class="table">
      <tr>
        <td>Producto: </td>
        <td>Madera</td>
      </tr>
      <tr>
        <td>Color: </td>
        <td>Gris</td>
      </tr>
    </table>  
    <h2 class="contado">Precio de contado</h2>
    <h2 class="precio">$109.074</h3>
    <a href="#" class="link">Ver el pago en coutas</a>
    <a class="boton" href="#">Comprar</a>  
    <img src="../images/sillon_turin2.png">
  </div>

</body>
</html>